.navigation {
    margin-top: 0;
    top: 0;

    height: 60px;
    width: 100%;

    position: fixed;
    z-index: 100;

    background-color: var(--background_color);
    box-shadow: var(--shadow_color) 0px 0px 10px;
}
.navigation a, .navigation a:focus {
    color: var(--text_color);

    height: 60px;

    font-weight: 600;
    line-height: 60px;
    
    display: inline-block;

    vertical-align: top;

    margin-right: 20px;
}
.navigation a img {
    height: 30px;
    margin-top: 15px;
}

.navigation .wrapper {
    width: 80%;
    max-width: 800px;

    margin-left: auto;
    margin-right: auto;

    display: flex;
}

.navigation .fau-link {
    margin-left: auto;
}

.navigation #navigation-button, .navigation .navigation-button-label {
    display: none;
}


@media( max-width: 400px ) {
    .navigation a, .navigation a:focus {
        margin-right: 15px;
    }
}

@media( max-width: 600px ) {
    .navigation .wrapper {
        width: 100%;
        background-color: white;
        display: inline-block;

        box-shadow: var(--shadow_color) 0px 0px 10px;
    }

    .navigation .cluster-link, .navigation .fau-link {
        display: block;
    }

    .navigation a, .navigation .fau-link {
        margin-left: 50px;
    }

    .navigation input[type=checkbox]:checked + .fau-link {
        display: none;
    }

    .navigation .navigation-button-label {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;

        width: 30px;
        height: 5px;

        background-color: red;
        cursor: pointer;
    }

    .navigation input[type=checkbox]:checked + label {
        background-color: #0080FF;
    }
}